<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <%= partial 'layouts/head' %>
</head>
<body class="<%= page_classes %>" ng-app>
<%= partial 'layouts/browse-happy' %>
<%= partial 'layouts/header' %>
<%= yield %>
<%#= partial 'layouts/footer' %>
<%= javascript_include_tag  'application' %>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<%= analytics_code 'UA-XXXXX-X', 'yourdomain.com' %>
</body>
</html>